.item {
  display: flex;
  overflow-x: hidden;
  /* margin-left: 0;
  margin-right: 0; */
  margin: 2rem;
}
.item .image {
  margin: 0;
  object-fit: contain;
  width: 18rem;
  height: 18rem;
}
.itemInfo {
  padding-left: 5rem;
}
.item .itemInfo .rating {
  display: flex;
}
.itemInfo .title {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
}
.item .itemInfo .desc {
  margin: 1rem 0rem;
  font-size: 1.1rem;
}
.item .itemInfo .rating {
  font-size: 1.4rem;
  display: flex;
}
.item .itemInfo .price {
  font-size: 1.4rem;
  margin: 5px 0rem;
}
.itemInfo > button {
  margin: 1.5rem 0rem;
  color: #111;
  border: 1px solid #222;
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  background-color: #f0c14b;
  width: 15rem;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.itemInfo > button:hover {
  background-color: transparent;
  color: #111;
}
@media (max-width: 500px) {
  .itemInfo {
    padding-left: 2.5rem;
  }
  /* .item .itemInfo .desc{
    display: none;
  } */
  .item {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  html {
    font-size: 55%;
  }
}
