.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .menu {
  display: flex;
  justify-content: space-evenly;
  user-select: none;
}
.header .link {
  color: #fff;
  text-decoration: none;
}
.header .options {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
.header .options .lineOne {
  font-size: 1rem;
}
.header .options .lineTwo {
  font-size: 1.3rem;
  font-weight: 800;
}
.header .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 1rem; */
}
.header .cartCount {
  margin: 0rem 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.cart .icon {
  font-size: 2rem;
}
.header .logo {
  object-fit: contain;
  width: 10rem;
  margin: 0 2rem;
  margin-top: 1.8rem;
  cursor: pointer;
  user-select: none;
}
.header .searchBox {
  display: flex;
  flex: 1;
}
.header .searchInput {
  height: 1.2rem;
  padding: 1.2rem;
  border: none;
  outline: none;
  width: 100%;
}
.header .searchIcon {
  background-color: #cd9042;
  height: 2.4rem !important;
  padding: 2px !important;
  font-size: 2.5rem !important;
}
