.home {
  margin: 0;
  overflow-x: hidden;
}
.home .img {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  object-fit: contain;
  /* mask-image: linear-gradient(to bottom, rgb(0, 0, 0,1), rgba(0, 0, 0, 0)); */
}
.home h1{
  margin-top: 2rem;
  margin-left: 2.5rem;
}
.home .row {
  display: flex;
  z-index: 1;
  margin: 0rem 1.5rem;
}
@media (max-width: 760px) {
  .home .row {
    flex-wrap: wrap;
  }
}
