@font-face {
  font-family: "OpenSans";
  src: url('./font/OpenSans-Regular.ttf');
}
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans",sans-serif;
}
html{
  font-size: 62.5%;
}
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(234, 237, 237);

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
